<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OpenSTSM.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <OpenSTSM.Settings>
            <setting name="MiddlePointDistanceThreshold" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NumberOfRegionProposals" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="OuterSelectionThreshold" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DecimalPointProbabilityRounding" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RegionProposalsMultiplicity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SpatialDistanceOfCoordinatePointsThreshold" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="GitHubUri" serializeAs="String">
                <value>https://github.com/ledjon-behluli/OpenSTSM</value>
            </setting>
            <setting name="LeafProbabilityThreshold" serializeAs="String">
                <value>20.00</value>
            </setting>
            <setting name="UseGpuAcceleration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumberOfResultsPerElement" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NN_ModelPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageResizeFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Simulink_OutputPath" serializeAs="String">
                <value>C:\OpenSTSM</value>
            </setting>
            <setting name="LinkedInUrl" serializeAs="String">
                <value>https://www.linkedin.com/in/ledjon-behluli-06b523155/</value>
            </setting>
        </OpenSTSM.Settings>
    </userSettings>
</configuration>
