<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.6.0" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="MicrosoftExpressionInteractions" version="3.0.40218.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net45" />
  <package id="Prism.Core" version="7.2.0.1367" targetFramework="net45" />
  <package id="SimulinkModelGenerator" version="1.0.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net45" />
  <package id="WpfAnimatedGif" version="1.4.15" targetFramework="net45" />
</packages>